{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Player's Rating</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="potential" id="potential" placeholder="Potential">
            <input type="number" name="preferred_foot" id="preferred_foot" placeholder="Preferred_Foot">
            <input type="number" name="attacking_work_rate" id="attacking_work_rate" placeholder="Attack_Work_rate">
            <input type="number" name="defensive_work_rate" id="defensive_work_rate" placeholder="Def_Work_Rate">
            <input type="number" name="crossing" id="crossing" placeholder="Crossing">
            <input type="number" name="finishing" id="finishing"placeholder="Finishing">
            <input type="number" name="heading_accuracy" id="heading_accuracy" placeholder="Head_Acc">
            <input type="number" name="short_passing" id="short_passing" placeholder="Short_Passing">
            <input type="number" name="volleys" id="volleys" placeholder="Volleys">
            <input type="number" name="curve" id="curve" placeholder="Curve">
            <input type="number" name="free_kick_accuracy" id="free_kick_accuracy" placeholder="Free_Kick_Acc">
            <input type="number" name="long_passing" id="long_passing" placeholder="Long_Passing">
            <input type="number" name="sprint_speed" id="sprint_speed" placeholder="Sprint_speed">
            <input type="number" name="agility" id="agility" placeholder="Agility">
            <input type="number" name="reactions" id="reactions" placeholder="Reactions">
            <input type="number" name="balance" id="balance" placeholder="Balance">
            <input type="number" name="shot_power" id="shot_power" placeholder="Shot_Power">
            <input type="number" name="jumping" id="jumping" placeholder="Jumping">
            <input type="number" name="stamina" id="stamina" placeholder="Stamina">
            <input type="number" name="strength" id="strength" placeholder="Strength">
            <input type="number" name="long_shots" id="long_shots" placeholder="Long_shots">
            <input type="number" name="aggression" id="aggression" placeholder="Aggression">
            <input type="number" name="positioning" id="positioning" placeholder="Positioning">
            <input type="number" name="vision" id="vision" placeholder="Vision">
            <input type="number" name="penalties" id="penalties" placeholder="Penalties">
            <input type="number" name="gk_diving" id="gk_diving" placeholder="Gk_Diving">
            <input type="number" name="gk_handling" id="gk_handling" placeholder="Gk_Handling">
            <input type="number" name="gk_kicking" id="gk_kicking" placeholder="Gk_kicking">
            <input type="number" name="gk_positioning" id="gk_positioning" placeholder="Gk_positioning">
            <input type="number" name="gk_reflexes" id="gk_reflexes" placeholder="Gk_reflexes" step="any">
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}